@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("./assets/marble.jpg");
    background-position: center;
    background-attachment: fixed;
}

div.container {
    width: 800px;
    max-width: 80%;
    background-color: #fff;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

div.button-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

button.button {
    border: rgb(83, 83, 83) solid 1px;
    background-color: #eee;
    border-radius: 2px;
    padding: 5px 10px;
    color: #222;
    outline: none;
    overflow: auto;
}

button.button:hover {
    border-radius: 5px;
    border: rgb(2, 81, 170) solid 2px;
    ;
}

button.start-button {
    font-size: 3rem;
    font-weight: bold;
    padding: 10px 20px;
}

div.start,
div.game-rules {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 0.7em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #eee;
}

.hide {
    display: none;
}